$bg-primary: #f4f8fd;

.row {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 2rem;
}

button {
    all: unset;
    cursor: pointer;
}

.box {
    background-color: $bg-primary;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}